html::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 150px;
    background-color: rgb(117, 1, 144);
}

.navbar{
    color: white;
    padding-top: 50px;
    margin-top:1px;
    
}

